################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MODS SSPKS -  beta
/MODS Server Monitor/package/ui/vendor/php-pushover/php-pushover/
/MODS Flex TV/package/ui/FlexTV/
/MODS Flex TV Emb/package/ui/FlexTV/
/gateone_x64-6.1_20171125-7.spk
