@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

*{margin:0;padding:0;}

a.disabled {
}

body{
	background:#567;
	font-family:'Open Sans',sans-serif;
}

#WaitMessage {
	font-family:'Open Sans',sans-serif;
	background:#3399cc;
	padding:40px 40px;
	text-align:center;
	color:#fff;
	font-size:140%;
	font-weight:300;
	width:250px;
	border-radius: 10px;
}

.center-div {
	margin:0 auto;
	margin-top:5%;
	margin-bottom:2%;
	width:250px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0; 
}

#page-wrap {
	margin: 0 auto;
	max-width: 1024px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0; 	 
}

.ACPIOff {
    filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
	-ms-filter: grayscale(1);
    opacity: 0.3;
    filter: alpha(opacity=30); /* For IE8 and earlier */
}

.ACPIOff:hover {
	filter: url(filters.svg#none); /* Firefox 3.5+ */
	filter: grayscale(0);
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-o-filter: grayscale(0);
	-ms-filter: grayscale(0);
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}

.ACPIOut {
	filter: url(filters.svg#sepia); /* Firefox 3.5+ */
	filter: sepia(1);
	-webkit-filter: sepia(1);
	-moz-filter: sepia(1);
	-o-filter: sepia(1);
	-ms-filter: sepia(1);
    opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */	
}

.ACPIOut:hover {
	filter: url(filters.svg#none); /* Firefox 3.5+ */
	filter: sepia(0);
	-webkit-filter: sepia(0);
	-moz-filter: sepia(0);
	-o-filter: sepia(0);
	-ms-filter: sepia(0);
    opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */	
}

.eventInfo {
	display: table;
	margin-left:auto; 
	margin-right:0;
	margin-bottom: 20px;
	padding:10px 60px 10px 10px;
	z-index:2000;
	color: #00529B;
	border-color: #bce8f1;
	border: 1px solid transparent;
	border-radius: 4px;
	text-align: right;
	background-color: #BDE5F8;
	background-position: right;
	background-size: 46px 46px;
	background-repeat: no-repeat;
	background-image: url('images/info.png'); 
}
.eventError {
	display: table;
	margin-left:auto; 
	margin-right:0;
	margin-bottom: 20px;
	padding:10px 60px 10px 10px;
	z-index:2000;
	color: #D8000C;
	border-color: #bce8f1;
	border: 1px solid transparent;
	border-radius: 4px;
	text-align: right;
	background-color: #FFBABA;
	background-position: right;
	background-size: 46px 46px;
	background-repeat: no-repeat;
	background-image: url('images/error.png'); 
}
.eventWarning {
	display: table;
	margin-left:auto; 
	margin-right:0;
	margin-bottom: 20px;
	padding:10px 60px 10px 10px;
	z-index:2000;
	color: #9F6000;
	border-color: #bce8f1;
	border: 1px solid transparent;
	border-radius: 4px;
	text-align: right;
	background-color: #FEEFB3;
	background-position: right;
	background-size: 46px 46px;
	background-repeat: no-repeat;
	background-image: url('images/warning.png'); 
}
.eventSuccess {
	display: table;
	margin-left:auto; 
	margin-right:0;
	margin-bottom: 20px;
	padding:10px 60px 10px 10px;
	z-index:2000;
	color: #4F8A10;
	border-color: #bce8f1;
	border: 1px solid transparent;
	border-radius: 4px;
	text-align: right;
	background-color: #DFF2BF;
	background-position: right;
	background-size: 46px 46px;
	background-repeat: no-repeat;
	background-image: url('images/success.png'); 
}

.menus {
	position:fixed;
	top:0px;
	left:auto;
	z-index:2000;
	padding: 0px;
	border: 1px solid transparent;
	background-color: #567;
}
.menu {
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	float: left;
	padding: 5px 10px 5px 5px;
	z-index: 2000;
	font-size:100%;
	font-weight:200;
	color: #ffffff;
	border-color: #ffffff;
	border: 1px solid;
	border-radius: 4px;
	text-align: right;
	background-color: #3399cc;    
}
.menu a{
	color: #ffffff;
}

.action {
	padding: 1px 2px 1px 2px;
	float: left;
	z-index: 2000;
}

.hostname {
	word-wrap:break-word;
	text-align:center;
	z-index:1;
	margin-right: 10px;
	margin-left: 10px;
}

.ip {
	word-wrap:break-word;
	text-align:center;
	z-index:1;
	margin-right: 10px;
	margin-left: 10px;
}

.oldip {
	word-wrap:break-word;
	text-align:center;
	color:#808080;
	z-index:1;
	margin-right: 10px;
	margin-left: 10px;
}

.hostaction {
	z-index:2;
	position:absolute;
	margin:auto;
	top:0;left:0;bottom:0;right:0;
	background-image: url(images/empty.png);
}

.macaction {
	z-index:2;
	position:absolute;
	margin:auto;
	top:0;left:0;bottom:0;right:0;
	background-image: url(images/empty.png);
}

.ACPItable { border-collapse: separate; }
.ACPItable th { text-align: center; vertical-align: text-bottom; color: #ffffff;}
.ACPItable td { border: solid 1px #000; padding:5px;  border-right-style: none;  border-left-style: none; }
.ACPItable td:first-child { border-top-left-radius: 10px; border-bottom-left-radius: 10px; border-left-style: solid; }
.ACPItable td:last-child { border-top-right-radius: 10px; border-bottom-right-radius: 10px; border-right-style: solid; }

#status {
  opacity: 0;
  position: fixed;
  right: 20px;
  top: 20px;
  background: hsla( 0, 0%, 0%, 0.8);
  padding: 20px;
  border-radius: 10px;
  z-index: 2; /* over other stuff */
}

#image-container img {
  max-height: 64px;
}

.LoadIcon li {
  height: 64px;
  min-width: 64px;
  display: block;
  float: left;
  list-style: none;
  margin: 0 5px 5px 0;
  background-color: grey;
  background-position: center center;
  background-repeat: no-repeat;
}

.LoadIcon li img,
#status {
  -webkit-transition: opacity 0.4s;
     -moz-transition: opacity 0.4s;
      -ms-transition: opacity 0.4s;
          transition: opacity 0.4s;
}

.LoadIcon li.is-loading {
  background-color: black;
  background-image: url('images/loading.gif');
  background-size: 64px 64px;
  width: 64px;
}

.LoadIcon li.is-broken {
  background-color: #be3730;
  background-image: url('images/broken.png');
  background-size: 64px 64px;
  width: 64px;
}

.LoadIcon li.is-loading img,
.LoadIcon li.is-broken img {
  opacity: 0;
}

.ACPImodal-dialog {
  position:absolute;
  top:50% !important;
  transform: translate(0, -50%) !important;
  -ms-transform: translate(0, -50%) !important;
  -webkit-transform: translate(0, -50%) !important;
  margin:auto 5%;
  width:50%;
  height:50%;
}
.ACPImodal-content {
  min-height:100%;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0; 
}
.ACPImodal-body {
  position:absolute;
  top:45px;
  bottom:45px;
  left:0;
  right:0;
  overflow-y:auto;
  z-index: 1;
}
.ACPImodal-footer {
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  background-color: #ffffff;
  z-index: 10;
}
.ACPImodal-header {
  position:absolute;
  top:0;
  left:0;
  right:0;  
  background-color: #ffffff;
  z-index: 10;
}

.ACPIHaptic {
}

.restore_sbtn {
	background-image: url(images/button.gif);
	border: 1px solid #000033;
	height: 22px;
	width: 82px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
	background-position: center;
	padding: 0px;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 0px;
	margin-left: 20px;
}
.restore_msg {
	text-align:left;
 	color:#666;
	background-repeat: no-repeat;
 	margin-left:30px;
   margin-right:30px;
	padding:5px;
   padding-left:30px;
}
.restore_emsg {
	text-align:left;
	margin-left:30px;
   margin-right:30px;
	color:#666;
	background-repeat: no-repeat;
	padding:5px;
   padding-left:30px;
}
.import_sbtn {
	background-image: url(images/button.gif);
	border: 1px solid #000033;
	height: 22px;
	width: 82px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
	background-position: center;
	padding: 0px;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 0px;
	margin-left: 20px;
}
.import_msg {
	text-align:left;
 	color:#666;
	background-repeat: no-repeat;
 	margin-left:30px;
   margin-right:30px;
	padding:5px;
   padding-left:30px;
}
.import_emsg {
	text-align:left;
	margin-left:30px;
   margin-right:30px;
	color:#666;
	background-repeat: no-repeat;
	padding:5px;
   padding-left:30px;
}

.icon_sbtn {
	background-image: url(images/button.gif);
	border: 1px solid #000033;
	height: 22px;
	width: 82px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
	background-position: center;
	padding: 0px;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 0px;
	margin-left: 20px;
}
.icon_msg {
	text-align:left;
 	color:#666;
	background-repeat: no-repeat;
 	margin-left:30px;
    margin-right:30px;
	padding:5px;
    padding-left:30px;
}
.icon_emsg {
	text-align:left;
	margin-left:30px;
    margin-right:30px;
	color:#666;
	background-repeat: no-repeat;
	padding:5px;
    padding-left:30px;
}

#f1_error{
   font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
   font-weight:bold;
   color:#FF0000;
}

#f1_ok{
   font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
   font-weight:bold;
   color:#00FF00;

}

#f1_restore_form {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #666666;
}

#f1_restore_process{
   z-index:100;
   visibility:hidden;
   position:absolute;
   text-align:center;
}


#f1_import_form {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #666666;
}

#f1_import_process{
   z-index:100;
   visibility:hidden;
   position:absolute;
   text-align:center;
}

#f1_icon_form {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #666666;
}

#f1_icon_process{
   z-index:100;
   visibility:hidden;
   position:absolute;
   text-align:center;
}